$color--dark-shade: #714FF7;
$color--light-shades: #ECECEC;
$color--light-blue: #36DCF7;
$color--low-emphasis: #a4aeb7;
$color--medium-emphasis:  #6A737D;
$color--high-emphasis: #24292E;
$color--main-brand: #4280F8;
$color--yellow: #F7E12A;
$color--notification: #F7A15C;
$color--light-accent:#08D28F;
$color--light-accent-ligher:#99c87c;
$color--dark-accent:#AA3F52;
$color--line: #E1E1E1;
$color--danger: #f14668;
