.full-width {
  width: 100%;
}
.is-fullheight{
  height:100%;
}
.no-wrap{
  white-space: nowrap;
}
.auto-width {
  width: auto !important;
}

.form-section:first-child {
padding: 1.5rem 0;
  margin: 0 1rem;
}

.form-section {

  padding: 1.5rem 0;
  margin: 0 1rem;
}

.overview-section {
  padding: 1.5rem 0;
}
.scrollable{
  overflow-y: visible;
}
